<!-- add new pet modal -->
    <form class="add-new form-group">
    <fieldset>
      <legend>Add a New Pet!</legend>
      <p id="add-message"></p>
      <label>Pet's Name</label>
      <input type="text" class="form-control" name="pet[name]"
      placeholder="Name Here">
      <label>Species</label>
      <select class="custom-select my-1 mr-sm-2 inlineFormCustomSelectPref" name=pet[species]>
      <option selected>Select Species</option>
      <option value="Dog" class="dog" id="pet-dog">Dog</option>
      <option value="Cat" class="cat" id="pet-cat">Cat</option>
      <!-- <option value="3">Three</option> -->
      </select>
      <label>Breed</label>
      <input type="text" class="form-control" name="pet[breed]"
      placeholder="Pitbull">
      <label>Date of Birth</label>
      <input type="date" class="form-control" name="pet[dob]"
      placeholder="02/12/2020">
      <label>Favorite Toy</label>
      <input type="text" class="form-control" name="pet[favorite_toy]"
      placeholder="Ball">
      <br>
      <input type='submit' class="btn btn-primary btn-lg btn-block button" value="Submit">
      <br>
      <button type="button" class="btn btn-primary btn-lg btn-block go-back">
      Go Back</button>
    </fieldset>
</form>
