<!-- edit forms -->
      <form id="edit-form" class="form-group edit-form pet-edit">
        <fieldset>
          <legend>Edit This Pet!</legend>
          <label>Pet's Name</label>
          <input type="text" class="form-control" name="pet[name]"
          placeholder="Name Here">
          <label>Species</label>
<!--<input type="text" class="form-control" name="pet[species]"
placeholder="Dog"> -->
          <select class="custom-select my-1 mr-sm-2 inlineFormCustomSelectPref" name=pet[species]>
          <option selected>Select Species</option>
          <option value="Dog" class="dog">Dog</option>
          <option value="Cat" class="cat">Cat</option>
          <option value="Reptile" class="Reptile">Reptile</option>
          <option value="Fish" class="Fish">Fish</option>
          <option value="Rodentia" class="Rodentia">Rodentia</option>
<!-- <option value="3">Three</option> -->
          </select>
          <label>Breed</label>
          <input type="text" class="form-control" name="pet[breed]"
          placeholder="Pitbull">
          <label>Date of Birth</label>
          <input type="date" class="form-control" name="pet[dob]"
          placeholder="02/12/2020">
          <label>Favorite Toy</label>
          <input type="text" class="form-control" name="pet[favorite_toy]"
          placeholder="Ball">
          <br>
          <input type='submit' class="btn btn-primary btn-lg btn-block button" id="edit-submit" value="Submit">
          <br>
          <button type="button" class="btn btn-primary btn-lg btn-block go-back" data-toggle="modal" data-target="#edit-modal">
          Go Back</button>
          </fieldset>
          </form>
