@import '~bootstrap/scss/bootstrap';
@import 'variables';

body {
  background: $white-color;
}

#navbar {
  background: $navbar-color;
  // box-shadow: 0 8px 8px -2px $shadow;
  color: $white-color;
  height: 150px;
  margin: auto;
}

#logo {
  display: inline-block;
  height: auto;
  margin-top: -150px;
  padding-left: 100px;
  vertical-align: top;
  width: 100px;
}

h1 {
  padding: 50px 260px;
  text-shadow: 3px 3px $shadow;
}

.main-section {
  background: $white-color;
  box-shadow: 4px 2px 5px 3px $shadow;
  // border-radius: 10px;
}

.space-two {
  background-color: $background-color;
  color: $background-color;
  font-size: 35px;
}

.space {
  color: $white-color;
  font-size: 35px;
}

.side-section {
  background-color: $background-color;
  // border-radius: 10px;
  // box-shadow: 4px 0px 8px -2px $shadow;
  border-left: 20px solid $white-color;

}

.success {
  color: $success-message;
  font-size: 20px;
}

.failure {
  color: $failure-message;
  font-size: 20px;
}

#footer {
  background-color: $shadow;
  color: $white-color;
  display: fixed;
  margin: auto;
  padding: 10px 0 20px 30px;
}

.button {
  background-color: $buttons !important;
}

.button:hover, .button:active, .button:visited {
 background-color: $buttons-hover !important;
}
