$background-color: #FFBE6E;
$success-message: #2D862D;
$failure-message: #DC0101;
$navbar-color: rgba(230, 96, 0, 0.9);
$white-color: #FFFFFF;
$black-color: #000000;
$shadow: rgba(66, 30, 5, 0.9);
$buttons: #23A1BD;
$buttons-hover: #145E80;
$sides:  #EBF5C1;
$page-font: 'Open Sans', cursive;
$back-transparent: rgba(255, 190, 110, 0.7);
$white-transparent: rgba(255, 255, 255, 0.9);
$no-color: rgba(255, 255, 255, 0);
$white-linear: linear-gradient(90deg, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, .6348914565826331) 100%);
