$background-color: #FFBE6E;
$success-message: #2D862D;
$failure-message: #DC0101;
$navbar-color: #E66000;
$white-color: #FFFFFF;
$black-color: #000000;
$shadow: #421E05;
$buttons: #23A1BD;
$buttons-hover: #145E80;
$sides:  #EBF5C1;
$page-font: 'Open Sans', cursive;
